@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

/* 전체 정리 ctrl+A, ctrl+I */
* { margin: 0; padding: 0; font-size: 10px; font-family: 'Pretendard', 'paperlogy'} /* 앞에 있는 폰트가 우선순위 높음. */
html { overflow-x: hidden;}
/* html {overflow-x: hidden; font-family: 'Pretendard-Regular'; } */
ul li { list-style: none; }
a { color: #75797B; text-decoration: none; }

/* @charset="UTF-8" */
/* css 리셋파일 안에 들어가는 내용임 */



/* 본문 바로가기 */
#skipNavi { width: 100%; height: 0; list-style: none; top: -1000px; left: -1000px; }
#skipNavi a { position: absolute; top: -1000px; left: -1000px; overflow: hidden; z-index: 999;}
#skipNavi a:active, #skipNavi a:focus { padding: 20px 0; width: 100%; font-size: 1.8rem; top: 0; left: 0; text-align: center; color: #000; font-weight: bold; border: 2px solid #f00; outline: 0; box-sizing: content-box; background: #fff;}



/* 배경색 #FFF */
/* 1440px */
.wrap {background: #fff; padding-top: 110px;}


.inwrap { width: 144rem; max-width: 100%; margin: 0 auto; padding: 0 2rem; }
.inwrap-big { padding: 0 6rem; }
.no_scroll { overflow: hidden; }


/* 상단메뉴 */
/* ===== global container (centered content, 1440px 기준) ===== */
.container { width: 1440px; /* 내부 폭: 1440px 디자인에서 좌우 여백을 포함해 중심 정렬 */ margin: 0 auto; position: relative; }

/* 헤더 전용 컨테이너: 전체 넓이를 더 크게 사용(1780px)하지만 화면보다 클 경우 좌우 여백을 유지 */
.site-header .container { width: 1720px; max-width: calc(100% - 40px); }

/* ===== Header ===== */
.site-header { background: #fff; position: fixed; top: 0; left: 0; right: 0; z-index: 98; box-shadow: 0 1px 0 rgba(0,0,0,0.06); height: 110px;/* 헤더 높이 */ }
.site-header .head { display: flex; align-items: center; justify-content: space-between; height: 100%; }




/* ---------- header ----------- */
.header-wrap { position: fixed; top: 0; left: 0; width: 100%; z-index: 200; }
#header { border-bottom: 1px solid #ffffff33; }
.header-inwrap { display: flex; justify-content: space-between; align-items: center; height: 11rem; transition: all .5s; background: #fff; }
.header-inwrap h1 { margin: 0; padding: 0; }
.header-c { height: 100%; display: flex; align-items: center; gap: 5rem; }
#logo img { /* width: 376px; */ height: 60px; }
#logo img.on { display: none; }
.head-r { display: flex; align-items: center; gap: 20px; }
.head-r .icons { display: flex; gap: 5px; margin: 0; padding: 0; }
.head-r .icons li { list-style: none; }
.head-r .icons > li > a { display: flex; justify-content: center; align-items: center; width: 48px; height: 48px; border-radius: 50%; color: #00408F; font-size: 3.2rem; }
.head-r .icons i {width: 32px; height: 32px;}
.head-r .icons .log_in { background: url('../images/log_in.png') no-repeat center; }
.head-r .icons .search { background: url('../images/search.png') no-repeat center; }
.head-r .icons .language { background: url('../images/language.png') no-repeat center; }
.head-r .icons > li > a:hover { background-color: #E9F3FF; }

.actions { display: flex; gap: 10px; align-items: center }
/* 버튼 크기 */
.btn { display: inline-block; padding: 15px 20px; border-radius: 15px; font-size: 2.2rem; font-weight: 700; line-height: 120%; text-decoration: none; }
.btn-outline { /* 외부 border 대신 내부선(inset)으로 변경 */ box-sizing: border-box; background: transparent; color: #00408F !important; box-shadow: inset 0 0 0 2px #00408F; }
.btn-primary { background: #00408F; color: #fff !important; }

.blind { border: 0; clip: rect(0 0 0 0); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap; }

/* Language Dropdown */
.language-dropdown { position: relative; }
.language-dropdown .dropdown-menu { display: none; position: absolute; top: 100%; right: 0; background: #fff; box-shadow: 0 4px 12px #0067C850; border-radius: 20px; padding: 20px 0; min-width: 120px; z-index: 10; } /* hover하지 않않을 때는 숨김 */
.language-dropdown:hover .dropdown-menu { display: block; }
.language-dropdown .dropdown-menu li { width: 100%; display: flex; justify-content: center; }
.language-dropdown .dropdown-menu a { display: block; padding: 5px 15px; font-size: 1.8rem; font-weight: 700; border-radius: 10px; color: #3C3C3C; white-space: nowrap; margin-bottom: 10px; }
.language-dropdown .dropdown-menu li:last-child a { margin-bottom: 0; }
.language-dropdown .dropdown-menu a:hover { background: #E9F3FF; color: #00408F; }


.gnb-pc { height: 100%; display: flex; align-items: center; }
/* .gnb-pc #gnb { margin-top: 0.5rem; } */
.gnb-pc #gnb > ul { display: flex; align-items: center; gap: 6rem; }
.gnb-pc #gnb .mn_a1 { position: relative; }
.gnb-pc #gnb .mn_a1 span { color: #000; font-weight: 700; font-size: 2.2rem; line-height: 1.2; }
/* .gnb-pc #gnb .mn_a1:before { content: ""; position: absolute; top: 0; left: 0; display: block; width: 5px; height: 5px; border-radius: 50%; background: var(--point-color); opacity: 0; } */
.gnb-pc #gnb .depth2 { display: none; position: absolute; top: calc(11rem + 1px); z-index: 1; width: 102rem; left: calc((100% - 124rem) / 2 + 18rem); transition: top .5s; } /* 열린 메뉴 오른쪽  */
.main-wrap .gnb-pc #gnb .depth2 { top: calc(24rem + 1px); }
.gnb-pc #gnb .depth2-inwrap > ul { display: flex; min-height: 260px; }
.gnb-pc #gnb .mn_l2 { border-right: 1px solid #edeff2; padding: 3rem 3rem; width: 20%; }
.gnb-pc #gnb .mn_a2 { margin-bottom: 2rem; min-height: 2.2em; display: inline-block; max-width: 100%; word-break: keep-all; word-wrap: break-word; }
.gnb-pc #gnb .mn_a2 span { color: #222; font-weight: 700; font-size: 1.8rem; line-height: 110%; }
.gnb-pc #gnb .mn_a2.short { letter-spacing: -0.08em; }
.gnb-pc #gnb .mn_l3 + .mn_l3 { margin-top: 1.5rem; }
.gnb-pc #gnb .mn_a3 { line-height: 140%; word-break: break-all; }
.gnb-pc #gnb .mn_a3 span { color: #3C3C3C; font-size: 1.6rem; font-weight: 400; line-height: 130%; }
.gnb-pc #gnb .depth2-inwrap { position: relative; }
.gnb-pc #gnb .depth2-title { position: absolute; top: 0; left: -18rem; max-width: 18rem; padding: 2.5rem 0 5rem 0; display: flex; height: 100%; flex-wrap: wrap; flex-direction: column; }
.gnb-pc #gnb .depth2-title h2 { font-weight: 700; font-size: 3rem; line-height: 140%; color: #0067C8; }
.gnb-pc #gnb .depth2-title .gnb-pc-fileDown { display: block; margin-top: auto; }
.gnb-pc #gnb .depth2-title .gnb-pc-fileDown .point { color: #2873dd; }
.gnb-pc #gnb .depth2-title .gnb-pc-fileDown span { font-weight: 500; font-size: 1.6rem; line-height: 140%; position: relative; }
.gnb-pc #gnb .depth2-title .gnb-pc-fileDown span:before { content: ""; position: absolute; top: 50%; right: -70px; margin-top: -20px; display: block; width: 30px; height: 33px; background: url(/barobaro/portal/img/Layout/gnb-pc-fileDown.svg) no-repeat center center; }
.gnb-pc #gnb .depth2-title .gnb-pc-fileDown span i { font-style: normal; }
.sitemap-open .icon { display: block; }
.sitemap-open .icon i { display: block; background: #fff; height: 0.2rem; margin-left: auto; }
.sitemap-open .icon i:nth-child(1) { width: 1.7rem; margin-bottom: 0.5rem; }
.sitemap-open .icon i:nth-child(2) { width: 2.4rem; margin-bottom: 0.5rem; }
.sitemap-open .icon i:nth-child(3) { width: 1.7rem; }
.gnb-pc-depthbg { display: none; position: relative; }
.gnb-pc-depthbg-inwbox { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: #fff; border-top: 1px solid #e1e4e8; }
.gnb-pc-depthbg-inwrap { display: none; width: 124rem; margin: 0 auto; padding: 0 3rem; height: 100%; }
/* 열린 메뉴 왼쪽 제목 */
.gnb-pc-depthbg-title { width: 180px; height: 100%; /* padding-bottom: 8rem; */ background: #E9F3FF; position: relative; border-right: 1px solid #edeff2; }
.gnb-pc-depthbg-title:before { content: ""; position: absolute; top: 0; left: -1999px; display: block; width: 2000px; height: 100%; background: #E9F3FF; }
.gnb-pc-bg { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: #000000b3; z-index: 199; }
/* 상단 배너 닫혔을 때 */
.topBannerClose .gnb-pc #gnb .depth2 { top: calc(12rem + 1px); }
/* 헤더 스크롤 시 */
.header-wrap.scroll .header-inwrap { height: 8rem; background: #fff}
.header-wrap.scroll #header { border-bottom: 1px solid #e1e4e8}
.header-wrap.scroll #logo img.off { display: none; }
.header-wrap.scroll #logo img.on { display: block; }
/* .header-wrap.scroll .head-r a { color: #222; } */
.header-wrap.scroll .main-topbanner { margin-top: -12rem; }
.header-wrap.scroll .gnb-pc #gnb .depth2 { top: calc(8rem + 1px); }
.gnb-mb { display: none; }
.mbMenu-open { display: none; }




@media screen and (min-width:1200px) {

	.inwrap { width: 148rem; padding: 0 4rem; }
	.gnb-pc #gnb .mn_a1 span, .gnb-pc #gnb .mn_a1:before { transition: all .3s; }
	.gnb-pc #gnb .mn_l1.on .mn_a1 span { color: var(--point-color) !important; }
	.gnb-pc #gnb .mn_l1.on .mn_a1:before { opacity: 1; top: -1.5rem; }
	.gnb-pc #gnb .mn_l1:focus-within .mn_a1 span, .gnb-pc #gnb .mn_a1:focus span { color: var(--point-color) !important; }
	.gnb-pc #gnb .mn_l1:focus-within .mn_a1:before, .gnb-pc #gnb .mn_a1:focus:before { opacity: 1; top: -1.5rem; }
	.gnb-pc #gnb .mn_l2 { transition: all .3s; }
	.gnb-pc #gnb .mn_l2:hover, .gnb-pc #gnb .mn_l2:focus-within { background: #E9F3FF; } /* 오른쪽 배경색 */
	.gnb-pc #gnb .mn_a3 span { transition: all .3s; }
	.gnb-pc #gnb .mn_a3:hover span, .gnb-pc #gnb .mn_a3:focus-visible span { color: var(--point-color) ; text-decoration: underline; text-underline-position: under; font-weight: 600; }
	#header.mnOpen { background: #fff; }
	#header.mnOpen #logo img.off { display: none; }
	#header.mnOpen #logo img.on { display: block; }
	#header.mnOpen .head-r .user span, #header.mnOpen .head-r .mypage, #header.mnOpen .head-r .logout { color: #222; }
	#header.mnOpen .gnb-pc #gnb .mn_a1 span { color: #222; }
	#header.mnOpen .sitemap-open .icon i { background: #222; }
	#header.mnOpen .head-r .user span:after { filter: brightness(1) invert(1); }
	#header.mnOpen .head-r a { color: #222; }
	.header-wrap.scroll .head-r .user span, .header-wrap.scroll .head-r .mypage, .header-wrap.scroll .head-r .logout { color: #222; }
	.header-wrap.scroll .gnb-pc #gnb .mn_a1 span { color: #222; }
	.header-wrap.scroll .sitemap-open .icon i { background: #222; }
	.header-wrap.scroll .head-r .user span:after, .header-wrap.scroll .head-r .mypage span:after { filter: brightness(1) invert(1); }
	.gnb-mb-bg { display: none !important; }
	/* ---------- sub ----------- */
	.subDepth .sn_a2:hover, .subDepth .sn_a2:focus-visible { background: var(--point-color); color: #fff; }
	.sh-miniPop-cont ul li a:hover span, .sh-miniPop-cont ul li a:focus-visible span { color: #2873dd; text-decoration: underline; text-underline-position: under; }
	/* ---------- sitemap ----------- */
	.sitemap-gnb .mn_a2:hover, .sitemap-gnb .mn_a2:focus-visible, .sitemap-gnb .mn_a3:hover, .sitemap-gnb .mn_a3:focus-visible { color: #fff000; text-decoration: underline; text-underline-position: under; }
}
@media screen and (max-width:1500px) {

	.inwrap-big { padding: 0 4rem; }
	/* ---------- header ----------- */
	#logo img { width: 260px; }
	.gnb-pc #gnb > ul { gap: 3.5rem; }
	.header-c { gap: 2rem; }
	.gnb-pc #gnb .mn_a1 span { font-size: 1.8rem; }
	.head-r { margin-left: 2rem; }
	/* ---------- sitemap ----------- */
	.sitemap-inwrap { padding-left: 4rem; padding-right: 4rem; }
}
@media screen and (max-width:1300px) {


	.gnb-pc #gnb .depth2 { width: calc(100% - 21rem); left: 21rem; }
}
/* ---------- mobile ----------- */
@media screen and (max-width:1200px) {

	.inwrap-big { padding: 0 2rem; }
	.mbNone { display: none; }
	/* ---------- header ----------- */
	.header-inwrap { height: 11rem; }
	.gnb-pc-depthbg { display: none !important}
	.head-r { display: none; }
	.gnb-pc { display: none; }
	.gnb-mb { display: flex; flex-direction: column; position: fixed; top: 0; right: -30rem; bottom: 0; height: 100%; background: #fff; width: 30rem; z-index: 200; }
	.gnb-mb .head-r { display: block; margin: 0; padding: 0; }
	.gnb-mb .head-r .loginBox, .gnb-mb .head-r .logoutBox { width: 100%; flex-wrap: wrap; gap: 0; }
	.gnb-mb .head-r .user { display: block; width: 100%; height: 8rem; background: #2873dd; padding: 0 3rem; text-align: left; }
	.gnb-mb .head-r .user span { display: block; width: 100%; }
	.gnb-mb .head-r .mypage, .gnb-mb .head-r .logout { display: block; width: 50%; background: var(--point-color); height: 5rem; line-height: 5rem; padding: 0 3rem; text-align: center; }
	.gnb-mb .head-r .login, .gnb-mb .head-r .join { display: block; width: 50%; background: #2873dd; height: 8rem; display: flex; justify-content: center; align-items: center; padding: 0 3rem; text-align: center; }
	.gnb-mb .head-r .login span { margin: 0 auto 0 0; padding-right: 0; display: inline-block; width: auto; }
	.gnb-mb .head-r a { color: #fff !important; }
	.gnb-mb .head-r-pop-cont a { color: #222 !important; }
	.gnb-mb #gnb { flex: 1; overflow-y: auto; padding-bottom: 5rem; }
	.gnb-mb #gnb .mn_a1 { display: block; width: 100%; padding: 2.5rem 3rem 2rem; border-bottom: 1px solid #eeeeee; position: relative; }
	.gnb-mb #gnb .mn_a1:before { content: ""; position: absolute; top: 50%; right: 3rem; margin-top: -4px; display: block; width: 12px; height: 7px; background: url(/barobaro/portal/img/Layout/gnb-mb-arrow.svg) no-repeat center center; }
	.gnb-mb #gnb .mn_a1 span { font-size: 1.8rem; font-weight: 500; }
	.gnb-mb #gnb .depth2 { display: none; background: #E9F3FF; /* padding: 3rem; */ border-bottom: 1px solid #eeeeee; }
	.gnb-mb #gnb .depth3 { display: none; }
	.gnb-mb #gnb .mn_l2 + .mn_l2 { margin-top: 2rem; }
	.gnb-mb #gnb .mn_a2 span { font-size: 1.5rem; padding-left: 15px; position: relative; }
	.gnb-mb #gnb .mn_a2 span:before { content: ""; position: absolute; top: 5px; left: 0; display: block; width: 3px; height: 3px; border-radius: 50%; background: #222; }
	.gnb-mb #gnb .depth2-title { display: none; }
	.gnb-mb #gnb .mn_l1.over .mn_a1:before, .gnb-mb #gnb .mn_l1.active .mn_a1:before { transform: rotate(180deg); }
	.gnb-mb #gnb .mn_l1.active .depth2 { display: block; }
	.gnb-mb #gnb .mn_l1.over .mn_a1 span, .gnb-mb #gnb .mn_l1.active .mn_a1 span { color: var(--point-color); }
	.gnb-mb #gnb .mn_l2.active .mn_a2 span { color: var(--point-color); }
	.gnb-mb #gnb .mn_l2.active .mn_a2 span:before { background: var(--point-color); }
	.mbMenu-open { display: block; }
	.mbMenu-open .icon { display: block; }
	.mbMenu-open .icon i { display: block; background: #fff; height: 0.2rem; margin-left: auto; }
	.mbMenu-open .icon i:nth-child(1) { width: 3.2rem; margin-bottom: 0.7rem; }
	.mbMenu-open .icon i:nth-child(2) { width: 2.6rem; margin-bottom: 0.7rem; }
	.mbMenu-open .icon i:nth-child(3) { width: 3.2rem; }
	.header-wrap.scroll .mbMenu-open .icon i { background: #222; }
	.header-wrap.scroll .header-inwrap { height: 7rem; }
	.sitemap-open { display: none; }
	.header-pop { top: 8rem; z-index: 150; }
	.header-pop.modify-pop { top: 13rem; }
	.header-pop.modify-pop .head-r-pop-title { display: none; }
	.gnb-mb-bg { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: #000000d9; z-index: 99}
	.gnb-pc-bg { display: none !important; }
	/* 애니메이팅 */
	.gnb-mb { transition: all .8s; }
	.gnb-mb.open { right: 0; }
	.head-r:before { display: none; }
	/* ---------- footer ----------- */
	#footer .inwrap { padding: 0 4rem; }
	.footer-top { display: block; padding-bottom: 0; margin-bottom: 3rem; border-bottom: none; }
	.fmanager-tit { margin-bottom: 2rem; }
	.flink { gap: 0; margin-bottom: 3rem; align-items: stretch}
	.flink li { width: 50%; }
	.flink li a { display: block; height: 100%; border: 1px solid #484a4f; border-top: none; margin-top: -1px; text-align: center; padding: 2rem; line-height: 160%; }
	.flink li:nth-child(1) a { border-radius: 5px 0 0 0; border-top: 1px solid #484a4f; }
	.flink li:nth-child(2) a { border-radius: 0 5px 0 0; border-top: 1px solid #484a4f; }
	.flink li:nth-last-child(2) a { border-radius: 0 0 0 5px; }
	.flink li:nth-last-child(1) a { border-radius: 0 0 5px 0; }
	.flink li:nth-child(even) a { border-left: none; }
	.fmanager-lst li { padding-right: 0.5em; }
	.fmanager-lst li:after { content: ","; right: 0; }
	/* ---------- sub ----------- */
	.subNav { position: relative; z-index: 10; }
	.subNav .home { display: none; }
	.subNav:after, .subDepth3-inbox:after { display: none; }
	.subDepth { border-radius: 10px 10px 0 0}
	.subHeader-top { display: block; position: relative; z-index: 12; }
	.subHeader-title { height: 30rem; text-align: center; }
	.subHeader-btn { position: absolute; bottom: 4rem; right: 2rem; }
	.subHeader-btn .viewer, .subHeader-btn .print { display: none; }
	.subHeader-title .stxt { max-width: 25rem; margin: 0 auto; }
	.subDepth { display: block; }
	.subDepth .sn_a1 { height: 6.5rem; font-size: 1.8rem; min-width: 0; }
	.subDepth-siblings { top: 6.5rem; }
	.subDepth3 { margin-top: -6.5rem; padding-top: 6.5rem; }
	.subDepth3-inbox { padding: 2.6rem 3rem 2.4rem; min-height: 6.5rem; }
	.subDepth3-inbox ul { gap: 4rem; }
	.subDepth3-inbox a { font-size: 1.8rem; }
	/* ---------- sub ----------- */
	.sitemap { display: none !important; }
}
@media screen and (max-width:980px) {
	.fileDown-list li { width: 100%; float: none; margin-top: 4px; }
	.fileDown-list li:nth-child(2n+2) { margin-left: 0; }
	.fileDown-list li:nth-child(1) { margin-top: 0; }
	.fileDown-list li:nth-child(2) { margin-top: 4px; }
}
@media screen and (max-width:400px) {

	.sub-container { padding-top: 4rem; }
	#logo img { width: 220px; }
}
@media screen and (max-width:360px) {
	.subHeader-btn { bottom: 1.5rem; }
}


/* ===== footer ===== */
footer { background: #2A2A2A; padding: 20px 0 54px 0; }
.footer_top { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.footer_nav ul { display: flex; gap: 40px; }
.footer_nav a { font-size: 1.6rem; font-weight: 400; color: #C9C9C9; }
.social_icons { display: flex; gap: 15px; }
.social_icons a { color: #fff; }
.social_icons i { font-size: 2.4rem; }
footer hr { border: none; height: 2px; background: #fff; }
.footer_bottom { margin-top: 20px; }
.policy_links { display: flex; gap: 30px; margin-bottom: 80px; }
.policy_links a, .policy_links a b { font-size: 1.6rem; line-height: 1.1; color: #fff; }
.policy_links a { font-weight: 400; }
.policy_links a b { font-weight: 700; }
.copyright { font-size: 1.6rem; color: #C9C9C9; }
.end_polio_banner { position: absolute; right: 0; bottom: 1px; }

/* ===== Scroll Top Button ===== */
#scrollTopBtn { position: fixed; bottom: 40px; right: 40px; width: 60px; height: 60px; border-radius: 50%; background-color: #fff; border: none; box-shadow: 0 4px 12px rgba(0,0,0,0.15); cursor: pointer; display: none; /* 기본적으로 숨김 */ justify-content: center; align-items: center; z-index: 1000; transition: opacity 0.3s, visibility 0.3s; }
#scrollTopBtn i { font-size: 20px; color: #333; }
.progress-ring { position: absolute; top: 0; left: 0; transform: rotate(-90deg); /* 원이 위에서부터 채워지도록 회전 */}
.progress-ring__circle-bg { stroke: #eee; }
.progress-ring__circle { stroke: #0067C8; stroke-linecap: round; /* 라인 끝을 둥글게 */ transition: stroke-dashoffset 0.1s; transform: scale(1); transform-origin: 50% 50%; }


/* GNB Dropdown Menu */


/* Search Modal */
/* .search-modal { display: none; Hidden by default position: fixed; z-index: 1001; Higher than header left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.7); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); transition: opacity 0.3s ease; }
.search-modal-content { position: relative; top: 30%; left: 50%; transform: translate(-50%, -50%); width: 90%; max-width: 600px; }
.close-search-modal { color: #fff; opacity: 0.8; position: absolute; top: -50px; right: 0; font-size: 42px; font-weight: normal; cursor: pointer; transition: opacity 0.2s; }
.close-search-modal:hover { opacity: 1; }
.search-modal-content form { display: flex; width: 100%; }
.search-modal-content input[type="search"] { flex-grow: 1; padding: 15px 25px; font-size: 2rem; border: 2px solid #00408F; border-radius: 40px 0 0 40px; outline: none; background: #fff; color: #333; }
.search-modal-content button[type="submit"] { padding: 15px 30px; font-size: 2rem; font-weight: 700; background-color: #00408F; color: #fff; border: 2px solid #00408F; border-left: none; border-radius: 0 40px 40px 0; cursor: pointer; } */

/* @media (max-width:1200px) {
	.stats_row { flex-direction: column }
	.stats_left, .stats_right { width: 100% }
} */




